<div class="container">

<p id="notice"><%= notice %></p>

<h1>Listing Orderdetails</h1>

<table class="table">
  <thead>
    <tr>
      <th>id</th>      
      <th>Order_id</th>
      <th>Product_id</th>
      <th>Product_type</th>
      <th>Count</th>
      <th colspan="3"></th>
      <th>Orderdetail.Order.user_id</th>
    </tr>
  </thead>

  <tbody>
    <% @orderdetails.each do |orderdetail| %>
      <tr>
        <td><%= orderdetail.id %></td>
        <td><%= orderdetail.order_id %></td>
        <td><%= orderdetail.product_id %></td>
        <td><%= orderdetail.product_type %></td>
        <td><%= orderdetail.count %></td>
        <td>Show</td>
        <td>Edit</td>
        <td>Destroy</td>
        <td><%= orderdetail.order.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>