<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <strong><i class="glyphicon glyphicon-pencil"></i> <%= @user.errors.count %> 項目のエラーがあります</strong>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name, "name" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :email, "email" %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :password, "password" %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "password_confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-large btn-primary" %>
  </div>

<% end %>