<div id="contents_pb">
  <div class="container">
    
    <div class="row">
      <div class="col-sm-12">
        <h1>Editing User</h1>
        <hr />
      </div>
    </div>
    
    <% if flash[:notice] %>
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-danger">
          <%= flash[:notice] %>
        </div>
      </div>
    </div>
    <% end %>
    
    <div class="row">
      <div class="col-sm-7">
        <%= render 'form' %>
      </div>
      <div class="col-sm-5">
        <% if current_user.address.nil? %>
        <h3>配送先情報 <%= link_to '登録', new_address_url, class: "btn btn-default btn-xs" %> </h3>
        <hr />
        <p><strong>受取人名：</strong>  <span class="text-muted">未登録</span></p>
        <p><strong>郵便番号：</strong>  <span class="text-muted">未登録</span></p>
        <p><strong>住所：</strong>  <span class="text-muted">未登録</span></p>
        <p><strong>建物：</strong>  <span class="text-muted">未登録</span></p>
        <hr />
        <% else %>
        <h3>配送先情報 <%= link_to '変更', edit_address_path(current_user.address), class: "btn btn-default btn-xs" %> </h3>
        <hr />
        <p><strong>受取人名：</strong> <%= current_user.address.addressee %></p>
        <p><strong>郵便番号：</strong> <%= current_user.address.zipcode %></p>
        <p><strong>住所：</strong> <%= current_user.address.prefecture_name %> <%= current_user.address.city %> <%= current_user.address.street %></p>
        <p><strong>建物：</strong> <%= current_user.address.building %></p>
        <hr />    
        <% end %>
        <div class="actions">
          <%= link_to '商品選択ページへ', :root , class: "btn btn-default"%>
        </div>
      </div>
    </div>
    
  </div>
</div><!-- contents_pb -->