<div class="container">

<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>User_id</th>
      <th>Address_id</th>
      <th>商品／数量</th>
      <th class="text-right">金額</th>
      <th class="text-right">税</th>
      <th class="text-right">送料</th>
      <th class="text-right">合計金額</th>
      <th class="text-right">日時</th>

    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.user_id %></td>
      <td><%= order.address_id %></td>
      <td><%= order.products.pluck(:product_code) %><br><%= order.orderdetails.pluck(:count) %></td>
      <td class="text-right"><%= order.amount %> 円</td>
      <td class="text-right"><%= order.tax %> 円</td>
      <td class="text-right"><%= order.postage %> 円</td>
      <td class="text-right"><b><%= order.amount + order.tax + order.postage %> 円</b></td>
      <td class="text-right"><%= order.created_at.strftime("%Y/%m/%d %H:%M") %></td>

    </tr>
    <% end %>
  </tbody>
</table>