<div class="container">

<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>User_id</th>
      <th>Address_id</th>
      <th>商品合計</th>
      <th>税</th>
      <th>送料</th>
      <th>合計金額</th>
      <th>日時</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.user_id %></td>
      <td><%= order.address_id %></td>
      <td><%= order.amount %> 円</td>
      <td><%= order.tax %> 円</td>
      <td><%= order.postage %> 円</td>
      <td><b><%= order.amount + order.tax + order.postage %> 円</b></td>
      <td><%= order.created_at.strftime("%Y/%m/%d %H:%M") %></td>
      <td><%= link_to 'Show', order %></td>
      <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>