<div class="container">
    <div class="row">
      <h1>ご注文内容</h1>
    </div>
    
    <% if flash[:notice] %>
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-danger">
          <%= flash[:notice] %>
        </div>
      </div>
    </div>
    <% end %>
    
    <div class="row">
      <div class="col-lg-10">
        <table class="table">
          <thead>
            <tr>
              <th>No</th>
              <th colspan="4">商品名</th>
              <th>値段</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
            <% @cart_to_orders.each_with_index do |cart_order,i| %>
            <tr>
              <td><%= "#{h(i + 1)}" %></td>
              
              <% cart_order.products.each do |product| %>
              <% if product.product_type == "envelope" %>
                <td>
                <div class="cart-box">
                  <% if product.main_image.present? %>
                    <%= image_tag(product.main_image) %>
                  <% else %>
                    <%= image_tag("no-image-envelope.png") %>
                  <% end %>
                </div>
                </td>
                <td><%= product.name %><br />
                    <%= product.product_code %></td>
              <% else product.product_type == "card" %>
                <td>
                <div class="cart-box">
                  <% if product.main_image.present? %>
                    <%= image_tag(product.main_image) %>
                  <% else %>
                    <%= image_tag("no-image-card.png") %>
                  <% end %>
                </div>
                </td>
                <td><%= product.name %><br />
                    <%= product.product_code %></td>
              <% end %>
              <% end %>
              
              <td><%= cart_order.products.sum(:price) %></td>
              
              <% cart_order.line_items.each do |li| %>
              <% if li.product_type == "envelope" %>
              <td><b><%= li.count %></b></td>
              <% end %>
              <% end %>

              <td><%= cart_order.amount %>　</td>  
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <div class="col-lg-2"> 
        <hr />
        <div class="clearfix">
          <p class="h4 pull-left">商　品：</p>
          <p class="h4 text-right"><%= @add_amount %>円</p>
        </div>
        <div class="clearfix">
          <p class="h4 pull-left">消費税：</p>
        <p class="h4 text-right"><%= @tax %>円</p>
        </div>
        <div class="clearfix">
          <p class="h4 pull-left">送　料：</p>
          <p class="h4 text-right"><%= @postage %>円</p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="h4 pull-left">総合計：</p>
          <p class="h4 text-right"><%= @total_amount %>円</p>
        </div>
        <hr />
      </div>
    </div>
    
    <div class="row">
      <h3>配送情報</h3>
      <%= form_tag(controller: "addresses", method: "post") do %>
      <div class="col-md-8">
        <div class="field">
          <%= label :address, :addressee, "受取人名" %><br>
          <%= text_field :address, :addressee, class: 'form-control' %>
        </div>
        <div class="field">
          <%= label :address, :zipcode, "郵便番号" %><br>
          <%= text_field :address, :zipcode, class: 'form-control' %>
        </div>
        <div>-----郵便番号を入力すると自動入力されます-----<br><br></div>
        <div class="field">
          <%= label :address, :prefecture, "都道府県" %><br>
          <%= text_field :address, :prefecture, class: 'form-control' %>
        </div>
        <div class="field">
          <%= label :address, :city, "市町村" %><br>
          <%= text_field :address, :city, class: 'form-control' %>
        </div>
        <div>-----郵便番号を入力すると自動入力されます-----<br><br></div>
        <div class="field">
          <%= label :address, :street, "丁番地" %><br>
          <%= text_field :address, :street, class: 'form-control' %>
        </div>
        <div class="field">
          <%= label :address, :building, "建物名・部屋番号" %><br>
          <%= text_field :address, :building, class: 'form-control' %>
        </div>
        <% if logged_in? %>
        <%= hidden_field_tag 'address[user_id]', current_user.id %>
        <% end %>
      </div>
      <div class="col-md-4">
        <div class="actions">
        <%= submit_tag :class => "btn btn-large btn-primary" %>
      </div>
      
      <% end %>
    </div>

</div>