<div class="container">
    <div class="row">
      <h1>ご注文内容</h1>
    </div>
    
    <% if flash[:notice] %>
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-danger">
          <%= flash[:notice] %>
        </div>
      </div>
    </div>
    <% end %>
    
    <div class="row">
      <div class="col-lg-10">
        <table class="table">
          <thead>
            <tr>
              <th>No</th>
              <th>商品名</th>
              <th></th>
              <th></th>
              <th></th>
              <th class="text-center">値段</th>
              <th class="text-center">数量</th>
              <th class="text-center">小計</th>
            </tr>
          </thead>
          <tbody>
            <% @cart_to_orders.each_with_index do |cart_order,i| %>
            <tr>
              <td><%= "#{h(i + 1)}" %></td>
              
              <% cart_order.products.each do |product| %>
              <% if product.product_type == "envelope" %>
                <td>
                <div class="order-box">
                  <% if product.main_image.present? %>
                    <%= image_tag(product.main_image) %>
                  <% else %>
                    <%= image_tag("no-image-envelope.png") %>
                  <% end %>
                </div>
                </td>
                <td><%= product.name %><br />
                    <%= product.product_code %></td>
              <% else product.product_type == "card" %>
                <td>
                <div class="order-box">
                  <% if product.main_image.present? %>
                    <%= image_tag(product.main_image) %>
                  <% else %>
                    <%= image_tag("no-image-card.png") %>
                  <% end %>
                </div>
                </td>
                <td><%= product.name %><br />
                    <%= product.product_code %></td>
              <% end %>
              <% end %>
              
              <td class="text-right"><%= cart_order.products.sum(:price) %> 円</td>
              
              <% cart_order.line_items.each do |li| %>
              <% if li.product_type == "envelope" %>
              <td class="text-right"><b><%= li.count %></b></td>
              <% end %>
              <% end %>
              
              <td class="text-right"><%= cart_order.amount %> 円</td>  
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <div class="col-lg-2"> 
        <hr />
        <div class="clearfix">
          <p class="h4 pull-left">商　品：</p>
          <p class="h4 text-right"><%= @add_amount %>円</p>
        </div>
        <div class="clearfix">
          <p class="h4 pull-left">消費税：</p>
        <p class="h4 text-right"><%= @tax %>円</p>
        </div>
        <div class="clearfix">
          <p class="h4 pull-left">送　料：</p>
          <p class="h4 text-right"><%= @postage %>円</p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="h4 pull-left">総合計：</p>
          <p class="h4 text-right text-danger"><%= @total_amount %>円</p>
        </div>
        <hr />
      </div>
    </div>
    
    <div class="row">
      <h2>配送情報</h2>
      
      <% if current_user.address.nil? %>
        
        <%= form_tag(controller: "orders", method: "post") do %>
        <div class="col-md-8">
          <div class="field">
            <%= label :address, :addressee, "受取人名" %><br>
            <%= text_field :address, :addressee, class: 'form-control' %>
          </div>
          <div class="field">
            <%= label :address, :zipcode, "郵便番号" %><br>
            <%= text_field :address, :zipcode, class: 'form-control' %>
          </div>
          <div class="field">
            <%= label :address, :prefecture, "都道府県" %><br>
            <%= text_field :address, :prefecture, class: 'form-control' %>
          </div>
          <div class="field">
            <%= label :address, :city, "市町村" %><br>
            <%= text_field :address, :city, class: 'form-control' %>
          </div>
          <div class="field">
            <%= label :address, :street, "丁番地" %><br>
            <%= text_field :address, :street, class: 'form-control' %>
          </div>
          <div class="field">
            <%= label :address, :building, "建物名・部屋番号" %><br>
            <%= text_field :address, :building, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <p>次回の購入をスムーズにする為に配送情報をユーザーアカウントに登録しますか？</p>
            <div class="checkbox">
              <%= check_box_tag 'address[check_user_id]', true, true, {} %><%= label :address, :check_user_id, "登録する" %>
            </div>
          </div>
          <div class="actions">
            <%= submit_tag ("注文を確定する"), class: 'btn btn-danger btn-lg' %>
          </div>
        </div>
        <% end %>
          
      <% else %>
        
        <div class="col-md-8">
          <p><strong>受取人名：</strong> <%= current_user.address.addressee %></p>
          <p><strong>郵便番号：</strong> <%= current_user.address.zipcode %></p>
          <p><strong>住所：</strong> <%= current_user.address.prefecture %> <%= current_user.address.city %> <%= current_user.address.street %></p>
          <p><strong>建物：</strong> <%= current_user.address.building %></p>
        </div>
        <div class="col-md-4">
          <p>配送先を変更する</p> <%= link_to '変更', edit_address_path(current_user.address), class: "btn btn-default btn-xl" %>
          <%= form_tag(controller: "orders", method: "post") do %>
          <div class="actions">
            <%= submit_tag ("注文を確定する"), class: 'btn btn-danger btn-lg' %>
          </div>
          <% end %>
        </div>
        
      <% end %>
      
    </div>
    
</div>