<div id="contents_pb">
<div class="container">

        <h1>ご注文ありがとうございました。</h1>
        
       <div class="waku">
         <p><i class="glyphicon glyphicon-ok"></i>　ご注文Noは、「<%= @order.created_at.strftime("%Y%m%d") %><%= @order.id %>」です。</p>
         <hr />
         <p>ご登録いただいたメールアドレス宛（<%= @order.address.order_email %>）に確認のメールをお送りいたします。</p>
       </div>
       
    <% if flash[:notice] %>
        <div class="alert alert-danger">
          <%= flash[:notice] %>
        </div>
    <% end %>

  
   <div class="row"> 
      <div class="col-md-3"> 
       <h3>確定金額</h3>
        <hr />
        <div class="clearfix">
          <p class="h4 pull-left">合　計：</p>
          <p class="h4 text-right"><%= @order.add_amount %>円</p>
        </div>
        <div class="clearfix">
          <p class="h4 pull-left">消費税：</p>
          <p class="h4 text-right"><%= @order.tax %>円</p>
        </div>
        <div class="clearfix">
          <p class="h4 pull-left">総合計：</p>
          <p class="h4 text-right"><%= @order.total_amount %>円</p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="h5 pull-left">商　品：</p>
          <p class="h5 text-right"><%= @order.amount %>円</p>
        </div>
        <div class="clearfix">
          <p class="h5 pull-left">代引手数料：</p>
          <p class="h5 text-right"><%= @order.pay_commission %>円</p>
        </div>
        <div class="clearfix">
          <p class="h5 pull-left">送　料：</p>
          <p class="h5 text-right"><%= @order.postage %>円</p>
        </div>
        <p class="h5">※宅急便の場合の送料につきまして、カートページの配送先と実際の「配送情報」とで違いがある場合は、金額が変更されている場合がございます。</p>
      </div>
      
      <div class="col-md-3"> 
       <h3>お支払方法</h3>
        <hr />
        <div class="clearfix">
          <p class="h5 pull-left">お支払方法：</p>
          <p class="h5 text-right"><%= @order.payment_type %></p>
        </div>
        <div class="clearfix">
          <p class="h5 pull-left">配送方法：</p>
          <p class="h5 text-right"><%= @order.shipping_type %></p>
        </div>
        <hr />
        <p>お支払方法が「クレジットカード・コンビニ・電子マネー」の場合は、後程ご登録のメールアドレスに「クロネコWEBコレクト」のご案内メールを配信いたします。（送信アドレス"info.kusunokishop@gmail.com"）<br />
        そのメールに記載のURLよりお支払ページにアクセスしていただき、決済をお願い致します。</p>
        <p>17時以降はメール送信が翌日になる可能性がございます。土日祝の場合は、弊社翌営業日になります</p>
      </div>
      
      <div class="col-md-3">
      <h3>備考欄</h3>
      <hr />
      <p class="h5">ご要望やご質問などがございましたら、入力後「登録・更新」ボタンを押してください。</p>
      <%= form_tag(controller: "orders", action: "note_update") do %>
      <%= text_area_tag 'note', @note, placeholder: "入力してください", class: "form-control", rows: "10" %>
      <div class="actions_min">
        <%= hidden_field_tag("order_id", @order.id) %>
        <%= submit_tag "登録・更新", class: "btn btn-default btn-sm" %>
      </div>
      <% end %>
      </div>
      
      <div class="col-md-3"> 
          <%= link_to 'Back to Top Page', :root , class: "btn btn-default"%>
      </div>
      
  </div>
</div>
</div><!-- contents_pb -->