<p id="notice"><%= notice %></p>

<div class="row">
  <h1><%= current_user.name %>'s Cart</h1>
</div>

<% if @carts.empty? %>

<div class="row">
  <h2>カートには何も入っていません</h2>
</div>

<% else %>

<div class="row">
  
<div class="col-md-3">
  <p>LineItem Model</p>
  <table>
  <thead>
    <tr>
      <th>cart_id　</th>
      <th>product_id　</th>
      <th>product_type　</th>
      <th>count　</th>
    </tr>
  </thead>
  <tbody>
    <% @line_items.each do |li| %>
      <tr>
        <td><%= li.cart_id %></td>
        <td><%= li.product_id %></td>  
        <td><%= li.product_type %></td>  
        <td><%= li.count %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
 
<div class="col-md-3">
  <p>Cart Model</p>
  <table>
  <thead>
    <tr>
      <th>id　</th>
      <th>User_id　</th>
      <th>Amount　</th>
      <th>Destroy</th>
    </tr>
  </thead>
  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.id %></td>
        <td><%= cart.user_id %></td>
        <td><%= cart.amount %></td>  
        <td><%= link_to '削除', cart, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<div class="col-md-3">
  <p>Product Model : Envelope</p>
    <table>
    <thead>
      <tr>
        <th>id　</th>
        <th>name　</th>
        <th>price　</th>
      </tr>
    </thead>
    <tbody>
      <% @envelopes.each do |envelope| %>
      <tr>
        <td><%= envelope.id %></td>
        <td><%= envelope.name %></td>
        <td><%= envelope.price %></td> 
      </tr>
      <% end %>
    </tbody>
    </table>
</div>

<div class="col-md-3">
  <p>Product Model : Card</p>
    <table>
    <thead>
      <tr>
        <th>id　</th>
        <th>name　</th>
        <th>price　</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.each do |card| %>
      <tr>
        <td><%= card.id %></td>
        <td><%= card.name %></td>
        <td><%= card.price %></td> 
      </tr>
      <% end %>
    </tbody>
    </table>
</div>
</div>
  
  <h4>合計金額<%= @add_amount %>円</h4>
  
  <%= form_tag(controller: "orders", method: "post") do %>
    <%= submit_tag ("この内容で購入する"), class: 'btn btn-large btn-secondary' %>
  <% end %>
  
<% end %>


  

