<div id="contents_pb">
<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1><%= current_user.name %>'s Cart</h1>
      </div>
    </div>
    
    <% if @carts.empty? %>
    <div class="row">
      <div class="col-sm-12">
      <div class="waku2">
        <p class="h2 text-center"><i class="glyphicon glyphicon-zoom-out"></i> カートには何も入っていません</p>
      </div>
      </div>
    </div>
    <% else %>
    
    <% if flash[:notice] %>
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-danger">
          <%= flash[:notice] %>
        </div>
      </div>
    </div>
    <% end %>
    
    <div class="row">
      <div class="col-lg-9">
        <table class="table table-hover table-responsive" style="width:848px;">
          <thead>
            <tr>
              <th style="width:30px;">No</th>
              <th>商品名</th>
              <th></th>
              <th></th>
              <th></th>
              <th style="width:60px;">値段</th>
              <th colspan="2" class="text-center" style="width:60px;">数量</th>
              <th style="width:50px;"></th>
              <th style="width:60px;">小計</th>
            </tr>
          </thead>
          <tbody>
            <% @carts.each_with_index do |cart,i| %>
            <tr>
              <td><%= "#{h(i + 1)}" %></td>
              
              <% cart.products.each do |product| %>
              <% if product.product_type == "envelope" %>
                <td>
                <div class="cart-box">
                  <% if product.main_image.present? %>
                    <%= image_tag(product.main_image) %>
                  <% else %>
                    <%= image_tag("no-image-envelope.png") %>
                  <% end %>
                </div>
                </td>
                <td><%= product.name %><br />
                    <%= product.product_code %></td>
              <% else product.product_type == "card" %>
                <td>
                <div class="cart-box">
                  <% if product.main_image.present? %>
                    <%= image_tag(product.main_image) %>
                  <% else %>
                    <%= image_tag("no-image-card.png") %>
                  <% end %>
                </div>
                </td>
                <td><%= product.name %><br />
                    <%= product.product_code %></td>
              <% end %>
              <% end %>
              
              <td class="text-right"><%= cart.products.sum(:price) %> 円</td>
              
              <% cart.line_items.each do |li| %>
              <% if li.product_type == "envelope" %>
              <td class="text-right"><b><%= li.count %></b></td>
              <td><%= link_to '▲', update_count_up_line_item_path(li), method: :patch %><br />
                  <%= link_to '▼', update_count_down_line_item_path(li), method: :patch %></td>
              <% end %>
              <% end %>
              <td><%= link_to '削除', cart, method: :delete %></td>
              <td class="text-right"><%= cart.amount %> 円</td>  
            </tr>
            <% end %>
          </tbody>
        </table>
        
        <div class="actions_min text-center btn-mg10">
          <%= link_to '買い物を続ける', :root , class: "btn btn-default btn-lg"%>
        </div>
        
        <hr />
        
      </div>
      
      <div class="col-lg-3"> 
      
      <% if current_user.payment_type.nil? %>
      
        <div class="form-group">
          <div class="waku">現在は「代金引換+宅急便」のみご利用可能です。<br />
          「クレジットカード」等のご利用については、11月下旬開始の予定です。</div>
        <form>
          お支払方法：
          <select name="user[payment_type]" onchange="SetSubMenu(value);" class="form-control">
            <option value="" selected>--選択してください--</option>
            <option value="payment01">代金引換</option>
            <!-- <option value="payment02">クレジットカード・コンビニ・電子マネー</option> -->
          </select>
        </form>
        
        <%= form_tag({controller: "users", action: "info_update"}, {id: "payment01", class: "secondpulldown"}) do %>
          送付先：
          <%= collection_select(:userinfo, :shipping_prefecture, Prefecture.all, :id, :name, {}, {:class => "form-control"} ) %>
          <div class="actions_min">
            <%= submit_tag "Check", class: "btn btn-info btn-sm" %>
          </div>
        <% end %>
        
        <%= form_tag({controller: "users", action: "info_update"}, {id: "payment02", class: "secondpulldown"}) do %>
          全国一律、送料450円
          <%= hidden_field_tag 'userinfo[shipping_prefecture]', 'everyplace' %>
          <div class="actions_min">
          <%= submit_tag "Check", class: "btn btn-info btn-sm" %>
          </div>
        <% end %>
        
        </div>
        
      <% else %>
        <p>お支払方法予定：　<b><%= @payment_type %></b></p>
        <p>配送種類：　<b><%= @shipping_type %></b></p>
        <p>配送先：　<b><%= @shipping_prefecture %></b></p>
        <%= link_to '>>お支払い方法をリセット', info_destroy_user_path(current_user), :method => :patch %>
        
      <% end %>
        
        <hr />
        
      <% if @items_amount < 720 %>
        <div class="panel panel-danger">
          <div class="panel-heading">あと <sapn class="h3"><b>４セット</b></sapn>で送料・代引手数料<b>半額</b>です！</div>
        </div>
      <% elsif @items_amount < 1080 && @items_amount >= 720 %>
        <div class="panel panel-danger">
          <div class="panel-heading">あと <sapn class="h3"><b>３セット</b></sapn>で送料・代引手数料<b>半額</b>です！</div>
        </div>
      <% elsif @items_amount < 1440 && @items_amount >= 1080 %>
        <div class="panel panel-danger">
          <div class="panel-heading">あと <sapn class="h3"><b>２セット</b></sapn>で送料・代引手数料<b>半額</b>です！</div>
        </div>
      <% elsif @items_amount < 1800 && @items_amount >= 1440 %>
        <div class="panel panel-danger">
          <div class="panel-heading">あと <sapn class="h3"><b>１セット</b></sapn>で送料・代引手数料<b>半額</b>です！</div>
        </div>      
      <% elsif @items_amount < 2160 && @items_amount >= 1800 %>
        <div class="panel panel-warning">
          <div class="panel-heading">あと <sapn class="h3"><b>５セット</b></sapn>で送料・代引手数料<b>無料</b>です！</div>
        </div>                 
      <% elsif @items_amount < 2520 && @items_amount >= 2160 %>
        <div class="panel panel-warning">
          <div class="panel-heading">あと <sapn class="h3"><b>４セット</b></sapn>で送料・代引手数料<b>無料</b>です！</div>
        </div>
      <% elsif @items_amount < 2880 && @items_amount >= 2520 %>
        <div class="panel panel-warning">
          <div class="panel-heading">あと <sapn class="h3"><b>３セット</b></sapn>で送料・代引手数料<b>無料</b>です！</div>
        </div>
      <% elsif @items_amount < 3240 && @items_amount >= 2880 %>
        <div class="panel panel-warning">
          <div class="panel-heading">あと <sapn class="h3"><b>２セット</b></sapn>で送料・代引手数料<b>無料</b>です！</div>
        </div>
      <% elsif @items_amount < 3600 && @items_amount >= 3240 %>
        <div class="panel panel-warning">
          <div class="panel-heading">あと <sapn class="h3"><b>１セット</b></sapn>で送料・代引手数料<b>無料</b>です！</div>
        </div>      
      <% elsif @items_amount >= 3600 %>
        <div class="panel panel-success">
          <div class="panel-heading"><b>送料が無料になりました！</b></div>
        </div>
      <% end %>
        
        <div class="clearfix">
          <p class="h5 pull-left">商　品：</p>
          <p class="h5 text-right"><%= @items_amount %>円</p>
        </div>
        
        <% if current_user.payment_type.nil? %>
        
        <div class="clearfix">
          <p class="h5 pull-left">手数料：</p>
          <p class="h6 text-right">お支払い方法をCheck！</p>
        </div>
        <div class="clearfix">
          <p class="h5 pull-left">送　料：</p>
          <p class="h6 text-right">お支払い方法をCheck！</p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="h4 pull-left">合　計：</p>
          <p class="h5 text-right">お支払い方法をCheck！</p>
        </div>
        <div class="clearfix">
          <p class="h4 pull-left">消費税：</p>
          <p class="h5 text-right">お支払い方法をCheck！</p>
        </div>
        <div class="clearfix">
          <p class="h4 pull-left">総合計：</p>
          <p class="h5 text-right">お支払い方法をCheck！</p>
        </div>
        <hr />
        <button type="button" class="btn btn-danger btn-lg" disabled="disabled">
        <i class="glyphicon glyphicon-shopping-cart"></i> ご購入手続き</button>
        <p class="h5">※お支払い方法をCheckしてください。</p>
        <hr />
        
        <% else %>
        
        <div class="clearfix">
          <p class="h5 pull-left">代引手数料：</p>
          <p class="h5 text-right"><%= @pay_commission %>円</p>
        </div>
        <div class="clearfix">
          <p class="h5 pull-left">送　料：</p>
          <p class="h5 text-right"><%= @postage %>円</p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="h4 pull-left">合　計：</p>
          <p class="h4 text-right"><%= @add_amount %>円</p>
        </div>
        <div class="clearfix">
          <p class="h4 pull-left">消費税：</p>
          <p class="h4 text-right"><%= @tax %>円</p>
        </div>
        <div class="clearfix">
          <p class="h4 pull-left">総合計：</p>
          <p class="h4 text-right"><%= @total_amount %>円</p>
        </div>
        <hr />
        <%= form_tag new_order_path, method: :get do %>
        <%= button_tag(type: "submit", class: "btn btn-danger btn-lg") do %>
        <i class="glyphicon glyphicon-shopping-cart"></i> ご購入手続き
        <% end %>
        <% end %>
        <p class="h5">※まだ注文確定ではありません。</p>
        <% end %>
        
      </div>
    </div>
    <% end %>
</div>
</div><!-- contents_pb -->