<p id="notice"><%= notice %></p>

<div class="row">
  <h1><%= current_user.name %>'s Cart</h1>
</div>

<% if @carts.empty? %>

<div class="row">
  <h2>カートには何も入っていません</h2>
</div>

<% else %>

<div class="row">
<div class="col-md-10">
  <p>Cart Model</p>
  <table>
  <thead>
    <tr>
      <th>No　</th>
      <th>Envelope_image　</th>
      <th>Envelope_name　<br />code</th>
      <th>Card_image　</th>
      <th>Card_name　<br />code</th></th>
      <th>Price　</th>
      <th colspan="2">Count　</th>
      <th>Amount　</th>
      <th>Destroy　</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @carts.each_with_index do |cart,i| %>
      <tr>
        <td><%= "#{h(i + 1)}" %></td>
        
        <% cart.products.each do |product| %>
          <td>
          <div class="cart-box">
          <% if product.main_image.present? %>
            <%= image_tag(product.main_image) %>
          <% else %>
            <%= image_tag("no-image-card.png") %>
          <% end %>
          </div>
          </td>
          <td><%= product.name %><br /><%= product.product_code %></td>
          
        <% end %>
        
        <td><%= cart.products.sum(:price) %></td>
        
        <% cart.line_items.each do |li| %>
          <% if li.product_type == "envelope" %>
          <td><b><%= li.count %></b><br />
          <td><%= link_to '▲', update_count_up_line_item_path(li), method: :patch %><br /><%= link_to '▼', update_count_down_line_item_path(li), method: :patch %></td>
          <% end %>
        <% end %>
        <td><%= cart.amount %>　</td>  
        <td><%= link_to '削除', cart, method: :delete, data: { confirm: '本当にカートから削除してよろしいですか？' } %></td>
        <td><%= cart.created_at.strftime('%Y/%m/%d %H:%M') %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>


<div class="col-md-2"> 
  <hr />
  <div class="clearfix">
    <p class="h4 pull-left">小　計：</p>
    <p class="h4 text-right"><%= @add_amount %>円</p>
  </div>
  <div class="clearfix">
    <p class="h4 pull-left">消費税：</p>
    <p class="h4 text-right"><%= @tax %>円</p>
  </div>
  
  <% if @add_amount < 3000 %>
    <div class="clearfix">
      <p class="h4 pull-left">送　料：</p>
      <p class="h4 text-right"><%= @postage %>円</p>
    </div>
    <div class="panel panel-danger">
      <div class="panel-heading">あと <b><%= 3000 - @add_amount %>円</b>（税抜)で送料無料です！</div>
    </div>
    <hr />
    <div class="clearfix">
      <p class="h4 pull-left">合　計：</p>
      <p class="h4 text-right"><%= @total_amount %>円</p>
    </div>
    
  <% else %>
  
    <div class="clearfix">
      <p class="h4 pull-left">送　料：</p>
      <p class="h4 text-right"><%= @postage %>円</p>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">送料が無料になりました！</div>
    </div>
    <hr />
    <div class="clearfix">
      <p class="h4 pull-left">合　計：</p>
      <p class="h4 text-right"><%= @total_amount %>円</p>
    </div>
  <% end %>
  
  <hr />

  <%= form_tag(controller: "orders", method: "post") do %>
    <%= submit_tag ("ご購入手続き"), class: 'btn btn-large btn-secondary' %>
  <% end %>
</div>

</div>

<% end %>