<p id="notice"><%= notice %></p>

<div class="row">
  <h1><%= current_user.name %>'s Cart</h1>
</div>

<% if @carts.empty? %>

<div class="row">
  <h2>カートには何も入っていません</h2>
</div>

<% else %>
  <p>LineItem Model</p>
  <table>
  <thead>
    <tr>
      <th>cart_id　</th>
      <th>product_id　</th>
      <th>product_type　</th>
      <th>count　</th>
    </tr>
  </thead>
  <tbody>
    <% @line_items.each do |li| %>
      <tr>
        <td><%= li.cart_id %></td>
        <td><%= li.product_id %></td>  
        <td><%= li.product_type %></td>  
        <td><%= li.count %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  
  <h4>合計金額<%= @add_amount %>円</h4>
  
  <%= form_tag(controller: "orders", method: "post") do %>
    <%= submit_tag ("この内容で購入する"), class: 'btn btn-large btn-secondary' %>
  <% end %>
  
<% end %>

  <p>Cart Model</p>
  <table>
  <thead>
    <tr>
      <th>id　</th>
      <th>User_id　</th>
      <th>Amount　</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.id %></td>
        <td><%= cart.user_id %></td>
        <td><%= cart.amount %></td>  
        <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
        <td><%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  


