<div>
<%= form_for(@address) do |f| %>

  <% if @address.errors.any? %>
      <div class="alert alert-danger">
        <strong><i class="glyphicon glyphicon-pencil"></i> <%= @address.errors.count %> 項目のエラーがあります</strong>
      <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="row">
  <div class="col-xs-12">
    <div class="field">
      <%= f.label :addressee, "受取人名" %>
      <%= f.text_field :addressee, class: 'form-control' %>
    </div>
  </div>
  <div class="col-xs-9 col-sm-7 col-md-6 col-lg-5">
    <div class="field">
      <%= f.label :zipcode, "郵便番号" %>
      <div class="input-group">
        <%= f.text_field :zipcode, class: 'form-control' %>
        <span class="input-group-btn">
          <input id="btn_zipcode" class="btn btn-default" type="button" value="自動入力" />
        </span>
      </div>
    </div>
  </div>
  <div class="col-xs-9 col-sm-7 col-md-6 col-lg-5">
    <div class="field">
      <%= f.label :prefecture_name, "都道府県" %>
      <%= f.collection_select :prefecture_name, Prefecture.all, :name, :name, {include_blank: true}, {:class => 'form-control'} %>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="field">
      <%= f.label :city, "市町村" %>
      <%= f.text_field :city, class: 'form-control' %>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="field">
      <%= f.label :street, "丁番地" %>
      <%= f.text_field :street, class: 'form-control' %>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="field">
      <%= f.label :building, "建物名・部屋番号" %>
      <%= f.text_field :building, class: 'form-control' %>
    </div>
  </div>
  
  <% if admin_user? %>
  <div class="col-xs-9 col-sm-7 col-md-6 col-lg-5">
    <div class="field">
      <%= f.label :user_id, "User id （管理者IDのみ表示されています）" %>
      <%= f.collection_select :user_id, User.all, :id, :id, {include_blank: true}, {:class => 'form-control'} %>
    </div>
  </div>
  <% elsif logged_in? %>
    <%= hidden_field_tag 'address[user_id]', current_user.id %>
  <% end %>

  <div class="col-xs-12">
    <div class="actions">
      <%= hidden_field_tag "redirect_option", @redirect_option %>
      <%= f.submit :class => "btn btn-large btn-primary" %>
    </div>
  </div>

</div>

<% end %>
</div>