<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-6">
      <div class="row  show-image-row">
      <div class="col-xs-12">
        <div class="main_image">
          <% if @product.main_image.present? %>
            <%= image_tag(@product.main_image) %>
          <% else %>
            <%= image_tag("no-image-envelope.png") %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="sub1_image">
          <% if @product.sub1_image.present? %>
            <%= image_tag(@product.sub1_image) %>
          <% else %>
            <%= image_tag("no-image-envelope.png") %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="sub2_image">
          <% if @product.sub2_image.present? %>
            <%= image_tag(@product.sub2_image) %>
          <% else %>
            <%= image_tag("no-image-envelope.png") %>
          <% end %>
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-6">
      <h1><%= @product.name %></h1>
      <hr />
      <p><%= @product.description %></p>
      <p><strong>Product_code:</strong><%= @product.product_code %></p>
      <p>以下よりカードを選んでください。</p>
      <p>封筒とメッセージカードのセット販売になります。</p>
      <p><strong>1セット:</strong>360円（税抜）</p>
    </div>
    
  </div>
  
  <hr />
  
  <div class="row">
    
    <div class="col-md-12">

      <%= form_tag(controller: "orders", method: "post") do %>
      <div class="field col-md-3">
        <div class="main_image">
          <% if @product.main_image.present? %>
            <%= image_tag(@product.main_image) %>
          <% else %>
            <%= image_tag("no-image-envelope.png") %>
          <% end %>
        </div>
        <%= hidden_field_tag("envelope_id", @product.id) %>
      </div>
      <div class="field col-md-2">
        <%= label_tag :envelope_count, "封筒の個数" %>
        <%= number_field_tag 'envelope_count', nil, in: 1...101 %>
      </div>
      <div class="field col-md-10">
        <%= label_tag :card_id, "カード種類" %>
        <select name="card_id" id="card_id" class="image-picker">
          <% @product_cards.each do |card| %>
            <% if card.main_image.present? %>
              <option data-img-src='<%= card.main_image %>' value="<%= card.id %>"><%= card.name %></option>
            <% else %>
              <option data-img-src='/assets/no-image-card.png' value="<%= card.id %>"><%= card.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
      <div class="field col-md-2">
        <%= label_tag :card_count, "カードの個数" %>
        <%= number_field_tag 'card_count', nil, in: 1...101 %>
      </div>
      <div class="actions">
      <%= submit_tag ("購入する"), class: 'btn btn-large btn-primary' %>
      </div>
      <% end %>
      <p>基本的にはセット販売ですが、書き損じ用などで、カードを封筒より多く購入することもできます。</p>
      <p>追加のカードは一枚100円（税抜）です。</p>
    </div>
    
  </div>
  
  <hr />

  <div class="row">
    <div class="col-md-offset-6 col-md-6 ">
      <%= link_to 'Add to Cart', "#" , class: "btn btn-default"%> 
      <%= link_to 'Back to Top Page', :root , class: "btn btn-default"%>
  </div>
  
</div>

  <script type="text/javascript">

    jQuery("select.image-picker").imagepicker({
      hide_select:  false,
    });
    
  </script>