<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-6">
      <div class="col-xs-12">
        <div class="main_image">
          <% if @product.main_image? %>
          <%= image_tag @product.main_image.url %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="sub1_image">
          <% if @product.sub1_image? %>
          <%= image_tag @product.sub1_image.url %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="sub2_image">
          <% if @product.sub2_image? %>
          <%= image_tag @product.sub2_image.url %>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <h1><%= @product.name %></h1>
      <hr />
      <p><%= @product.description %></p>
      <p><strong>Price:</strong><%= @product.price %></p>
      <p><strong>Product_code:</strong><%= @product.product_code %></p>
      <%= link_to 'Back Top Page', :root , class: "btn btn-default"%>
    </div>
    
  </div>
  
  <%= render 'cards_list' , product_cards: @product_cards %>
    
</div>
