<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>product_code:</strong>
  <%= @product.product_code %>
</p>

<p>
  <strong>description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<!-- main_image start -->
<p>
  <strong>main_Image:</strong>
  <% if @product.main_image? %>
    <div class="thumbnail">
      <%= image_tag @product.main_image.url %>
    </div>
  <% end %>
</p>
<!-- main_image end -->

<!-- sub1_image start -->
<p>
  <strong>sub1_Image:</strong>
  <% if @product.sub1_image? %>
    <div class="thumbnail">
      <%= image_tag @product.sub1_image.url %>
    </div>
  <% end %>
</p>
<!-- sub1_image end -->

<!-- sub2_image start -->
<p>
  <strong>sub2_Image:</strong>
  <% if @product.sub2_image? %>
    <div class="thumbnail">
      <%= image_tag @product.sub2_image.url %>
    </div>
  <% end %>
</p>
<!-- main_image end -->

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>