<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-6">
      <div class="row  show-image-row">
      <div class="col-xs-12">
        <div class="main_image">
          <% if @product.main_image? %>
          <%= image_tag @product.main_image.url %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="sub1_image">
          <% if @product.sub1_image? %>
          <%= image_tag @product.sub1_image.url %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="sub2_image">
          <% if @product.sub2_image? %>
          <%= image_tag @product.sub2_image.url %>
          <% end %>
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-6">
      <h1><%= @product.name %></h1>
      <hr />
      <p><%= @product.description %></p>
      <p><strong>Price:</strong><%= @product.price %></p>
      <p><strong>Product_code:</strong><%= @product.product_code %></p>
      <p>以下よりカードを選んでください。</p>
      <p>封筒とメッセージカードのセット販売になります。</p>
      <p><strong>1セット:</strong>360円（税抜）</p>
    </div>
    
  </div>
  
  <hr />
  
  <div class="row">
    
    <div class="col-md-6">
      <div class="row card-box-row">
        <% @product_cards.each do |card| %>
        <div class="card-box col-sm-4 col-xs-4">
          <%= link_to image_tag(card.main_image.url) , "#" %>
        </div>
        <% end %>
      </div>
    </div>
    
    <div class="col-md-6">

      <%= form_tag(controller: "orders", method: "post") do %>
      <div class="field col-md-3">
        <div class="main_image">
          <% if @product.main_image? %>
          <%= image_tag @product.main_image.url %>
          <% end %>
        </div>
        <%= hidden_field_tag("envelope_id", @product.id) %>
      </div>
      <div class="field col-md-3">
        <%= label_tag :envelope_count, "封筒の個数" %>
        <%= number_field_tag 'envelope_count', nil, in: 1...101 %>
      </div>
      <div class="field col-md-3">
        <%= label_tag :card_id, "カード種類" %>
        <%= select_tag :card_id, options_from_collection_for_select(@product_cards, :id, :name), include_blank: true %>
      </div>
      <div class="field col-md-3">
        <%= label_tag :card_count, "カードの個数" %>
        <%= number_field_tag 'card_count', nil, in: 1...101 %>
      </div>
      <div class="actions">
      <%= submit_tag ("購入する"), class: 'btn btn-large btn-primary' %>
      </div>
      <% end %>
      <p>基本的にはセット販売ですが、書き損じ用などで、カードを封筒より多く購入することもできます。</p>
      <p>追加のカードは一枚100円（税抜）です。</p>
    </div>
    
  </div>
  
  <hr />

  <div class="row">
    <div class="col-md-offset-6 col-md-6 ">
      <%= link_to 'Add to Cart', "#" , class: "btn btn-default"%> 
      <%= link_to 'Back to Top Page', :root , class: "btn btn-default"%>
  </div>
  
</div>