<div id="contents_pb">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row show-image-row">
        <div class="col-sm-8 col-xs12">
          <div class="main_image">
            <% if @product.main_image.present? %>
              <%= image_tag(@product.main_image.url) %>
            <% else %>
              <%= image_tag("no-image-envelope.png") %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-4 col-xs12">
          <div class="sub1_image">
            <% if @product.sub1_image.present? %>
              <%= image_tag(@product.sub1_image.url) %>
            <% else %>
              <%= image_tag("no-image-envelope.png") %>
            <% end %>
          </div>
          <div class="sub2_image">
            <% if @product.sub2_image.present? %>
              <%= image_tag(@product.sub2_image.url) %>
            <% else %>
              <%= image_tag("no-image-envelope.png") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <h2><%= @product.name %></h2>
      <hr />
      <%= simple_format(@product.description) %>
      <p><strong>Product_code:</strong><%= @product.product_code %></p>
      <p><strong>1セット:</strong>360円（税抜）</p>
      <p>封筒とメッセージカードのセット販売になります。</p>
    </div>
    
  </div>
  
  <hr />
  
  <div class="waku">
    <p><i class="glyphicon glyphicon-plus"></i> 封筒に入れる「メッセージカード」を選択してください</p>
  </div>
  
  <div class="row">
<%= form_tag(controller: "line_items", method: "post") do %>
    <div class="col-md-12">
      <select name="card_id" id="card_id" class="image-picker form-control">
        <% @product_cards.each do |card| %>
          <% if card.main_image.present? %>
            <option data-img-src='<%= card.main_image.url %>' value="<%= card.id %>"><%= card.name %></option>
          <% else %>
            <option data-img-src='/assets/no-image-card.png' value="<%= card.id %>"><%= card.name %></option>
          <% end %>
        <% end %>
      </select>
    </div>
  </div>
  
  <div class="row">
    
    <% if flash[:notice] %>
    <div class="col-md-8 col-md-offset-2">
      <div class="alert alert-danger col-md-12">
        <%= flash[:notice] %>
      </div>
    </div>
    <% end %>
    
    <div class="col-md-8 col-md-offset-2">  
      <div class="waku">
        <p><i class="glyphicon glyphicon-plus"></i> 数量を決めてください</p>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-5 col-md-offset-2">
      <%= number_field_tag 'count', 1, class: 'form-control', in: 1...31 %>
    </div>
    <%= hidden_field_tag("envelope_id", @product.id) %>

    <div class="actions_min text-center col-md-3">
      <%= button_tag(type: "submit", class: "btn btn-danger btn-lg") do %>
      <i class="glyphicon glyphicon-shopping-cart"></i> カートに入れる
      <% end %>
    </div>
    
<% end %>
  </div>
  

</div>
</div><!-- contents_pb -->

<script type="text/javascript">
  jQuery("select.image-picker").imagepicker({
    hide_select:  false,
  });
</script>

