<footer id="footer">
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Info</h3>
      <ul>
      <li>
        <%= link_to pages_brand_path do %>
          商品詳細とこだわり
        <% end %>
      </li>
      <li>
        <%= link_to "送料について", pages_guide_path(anchor: 'postage') %>
      </li>
      <li>
        <%= link_to "お支払い方法について", pages_guide_path(anchor: 'payment') %>
      </li>
      <li>
        <%= link_to "特定商取引法に基づく表記", pages_law_path(anchor: 'law') %>
      </li>
      <li>
        <%= link_to "プライバシーポリシー", pages_law_path(anchor: 'privacy') %>
      </li>
      <li>
        <%= link_to inquiries_path do %>
          お問い合わせ
        <% end %>
      </li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h3>Link to Brand</h3>
      <ul>
      <li>
        <%= link_to "Facebook", "https://www.facebook.com/u.kusunoki", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Kusunokidea", "http://www.kusunokidea.co.jp", target: "_blank" %>
      </li>
      <li>
        <%= link_to "有限会社KUSUNOKI", "http://www.kusunoki210.jp", target: "_blank" %>
      </li>
      <li>
        <%= link_to "株式会社楠紙工社", "http://www.kusunoki-shikohsya.co.jp", target: "_blank" %>
      </li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h3>Corporation</h3>
        <h4>
          <div class="logo_footer"></div>
        </h4>
        <p><b>封筒の企画・開発・販売</b><br />
          有限会社KUSUNOKI<br />
          〒538-0043 大阪市鶴見区今津南2-1-22<br />
          TEL：06-6967-2347<br />
          FAX：06-6969-3150
        </p>
    </div>
  </div>
  </div>
  <div class="container-fluid">
  <div class="row"> 
    <hr />
    <div class="col-xs-12">
      <div class="copyright">© <%= Date.today.year %> KUSUNOKI Inc.</div>
    </div>
  </div>
  </div>
</footer>