<!DOCTYPE html>
<html lang="ja">
<head>
  <title>KusunokiEc</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <div id="wrap">
    <%= render partial: "layouts/header" %>
      <div id="contents">
      <%= yield %>
      </div><!-- contents -->
    <%= render partial: "layouts/footer" %>
  </div><!-- wrap -->
</body>
</html>